  <section class="hero py-16">
      <div class="container mx-auto items-center flex justify-between">
        <div class="w-1/2 text-center pl-30 font-serif">
          <h6 class="my-2 text-xl"><em>I know you are hungry</em></h6>
          <h1 class="text-6xl my-4 font-extrabold">Don't Wait</h1>
          <button
            class="rounded-full text-truncate text-white font-bold text-4xl py-1 px-6"
          >
            <a href="">Order now</a>
          </button>
        </div>
        <div class="w-1/2">
          <img style="padding-right: 5rem" src="img/samosa.png" alt="" />
        </div>
      </div>
    </section>
    <section
      class="menu continer mx-auto py-8 font-sans"
      style="color: rgb(251, 13, 13)"
    >
      <h1 class="text-xl font-bold text-center">Menu</h1>
      <div class="grid grid-cols-4  col-gap-10 row-gap-8 ml-10">
        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img/rasgoola.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Malai Peda</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img/aloo_paratha.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Aloo Paratha</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img/Chickencurry.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Chicken Curry</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img/panipuri.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Pani Puri</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img/pasta.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3"><h2>Pasta</h2></div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Chicken_Biryani.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Chicken Biryani</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Chicken_skewers.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Chicken Skewers</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Mutton_Kheema.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Mutton Kheema</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Paneer_Butter_Masala.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Paneer Butter Masala</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Paneer_Pulao.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Paneer Pulao</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Paneer Biryani.jpg"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Paneer Biryani</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>

        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img\Gulabjamun.png"
            alt=""
          />
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2>Gulab Jamun</h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span>250</span
              >
              <button
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
                <a href=""><span class="mx-2">+</span><span>Add</span></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
 
