  <section class="hero py-16">
      <div class="container mx-auto items-center flex justify-between">
        <div class="w-1/2 text-center pl-30 font-serif">
          <h6 class="my-2 text-xl"><em>I know you are hungry</em></h6>
          <h1 class="text-6xl my-4 font-extrabold">Don't Wait</h1>
          <button
            class="rounded-full text-truncate text-white font-bold text-4xl py-1 px-6"
          >
            <a href="">Order now</a>
          </button>
        </div>
        <div class="w-1/2">
          <img style="padding-right: 5rem" src="img/samosa.png" alt="" />
        </div>
      </div>
    </section>
    <section
      class="menu continer mx-auto py-8 font-sans"
      style="color: rgb(251, 13, 13)"
    >
      <h1 class="text-xl font-bold text-center">Menu</h1>
      <div class="grid grid-cols-4  col-gap-10 row-gap-8 ml-10">
          <% for (let index = 0; index < items.length; index++) {
            const element = items[index];
            %>    
        <div class="my-6 w-64">
          <img
            class="rounded-md h-40 mx-auto mb-4"
            src="img/<%=element.img%>"
            alt=""/>
          <div>
            <div class="font-bold text-xl text-center mb-3">
              <h2><%=element.P_name%></h2>
            </div>
            <div class="items-center flex justify-around">
              <span class="font-bold text-lg mx-3"
                ><span>&#8377;</span><span></span><%= element.Price %> </span
              >
              <button data-item="<%= JSON.stringify(element)%>"
                class="card-button px-3 py-1 items-center rounded-full text-xl"
              >
               <span class="mx-2">+</span><span>Add</span>
              </button>
            </div>
          </div>
        </div>
     <% } %>
        

      </div>
    
    </section>
  
