<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Food Crab</title>
      <link class="logo-img h-20 w-20" rel="icon" href="/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body >
    <nav
      class=" text-white flex items-center justify-between py-4 px-2 "
    >
      <ul class="flex items-center">
        <li class="mx-1">
          <a href="/"
            ><img class="h-20 w-20 pb-3 " src="/img/logo.png" alt=""
          /></a>
        </li>
        <li class="mx-1"><a href="/"> Food Crab </a></li>
      </ul>

      <div>
        <ul class="flex justify-between items-center
          <li class="mx-2"><a href="/">Menu</a></li>
          <% if(user){ %> 
            <li class="mx-2">
            <form id="logout" action="/logout" method="POST">
                 <a onclick="document.getElementById('logout').submit()" href="#">logout</a>
                </form>
              </li>
              <li class="mx-2"><a href="/customer/order">My order</a></li>
            <% }else{ %> 
                 <li class="mx-2"><a href="/login">login</a></li>
                 <li class="mx-2"><a href="/register">Register</a></li>
              <% } %> 
          
          <li class="mx-2">
            <a href="/cart" class="flex items-center " > <span  id="totalQty" class="px-2 font-bold text-2xl text-amber-400"> <%= session.cart?session.cart.totalqty:0  %>  </span>
              <img class="rounded-full"style=" height:50px; weidth:60px" src="/img/cart.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </nav>
   
    <%- body -%>
    <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
  </body>
</html>
