<section class="orders light-section font-sans">
    <div class="container mx-auto pt-12">
        <h1 class="text-center mb-6 font-bold text-2xl">Live Orders</h1>
        <table class="mx-auto w-full table-auto bg-slate-200 table-brdr">
            <thead class="table-brdr" >
                <tr class="table-brdr">
                    <th class="table-brdr">Orders</th>
                    <th class="table-brdr">Price</th>
                    <th class="table-brdr">Customer</th>
                    <th class="table-brdr">Address</th>
                    <th class="table-brdr">Status</th>
                    <th class="table-brdr">Placed at</th>
                    <th class="table-brdr">Phone</th>
                </tr>
            </thead>
            <tbody id="orderTableBody" class="table-brdr">
               
            </tbody>
        </table>
    </div>
</section>