<section class="cart font-sans">
<!-- <div class="empty-cart py-1 font-sans">
    <h1 class="  text-center text-2xl">Your cart is empty</h1>
    <h2 class=" pb-2 text-center text-lg">You can go to home page to view more items</h2>
    <hr>
 <img class="w-2/5 mx-auto" src="img/empty-cart.jpg" alt="">
 <hr>
</div> -->
<div class="full-cart ">
    <h1 class="text-center text-2xl py-2">Available items in cart</h1>
    <hr>
    <div class="flex items-center justify-between px-60">
    <div class=" flex py-4 items-center" >
  <div>
    <img class="w-32 " src="img/panipuri.jpg" alt="">
  </div>
   <div class="mx-6">
    <h2>Pani Puri</h2>
   </div>
   </div>
   <div class="flex items-center justify-between">
   <div class="pr-32">
    <span>₹250</span> 
   </div>
   <div>
    <button class="card-button px-3 py-1 items-center rounded-full text-xl">
                <a href=""><span class="mx-2">-</span><span>less</span></a>
    </button>
</div>
</div>
</div>

<div class="flex items-center justify-between px-60">
  <div class=" flex py-4 items-center" >
<div>
  <img class="w-32 " src="img/panipuri.jpg" alt="">
</div>
 <div class="mx-6">
  <h2>Pani Puri</h2>
 </div>
 </div>
 <div class="flex items-center justify-between">
 <div class="pr-32">
  <span>₹250</span> 
 </div>
 <div>
  <button class="card-button px-3 py-1 items-center rounded-full text-xl">
              <a href=""><span class="mx-2">-</span><span>less</span></a>
  </button>
</div>
</div>
</div>

<div class="flex items-center justify-between px-60">
  <div class=" flex py-4 items-center" >
<div>
  <img class="w-32 " src="img/panipuri.jpg" alt="">
</div>
 <div class="mx-6">
  <h2>Pani Puri</h2>
 </div>
 </div>
 <div class="flex items-center justify-between">
 <div class="pr-32">
  <span>₹250</span> 
 </div>
 <div>
  <button class="card-button px-3 py-1 items-center rounded-full text-xl">
              <a href=""><span class="mx-2">-</span><span>less</span></a>
  </button>
</div>
</div>
</div>
  <hr>
<div class=" px-60 flex justify-between py-2">
  <div>
   <span >Total Amount </span> 
  </div>
  
  <div>
    <span >₹750</span>
  </div>
  <div>
    <button class="card-button px-3 py-1 items-center rounded-full text-xl"><a href="/customer_adress">Proceed</a></button>
  
</div>
  </div>
</div>

</section>