 <h1 class="text-center mt-12">Order History</h1>

  <!-- for loop -->
<div class="text-amber-700 rounded-md bg-slate-100 w-6/12 h-6/12 mx-auto border-solid border-2 border-slate-200 my-12">
    
    <div class="flex items-center my-1">
         <div class="ml-6"><img class="w-16 h-16 mx-auto " src="/img/Order placed.png" alt=""></div>
         <div class="ml-6"> <h3 class="text-sm">Order Placed</h3></div>
         <div class=" text-sm font-none font-mono ml-8"> <h4 class="" >last updated: 02:40 (24-12-2022)</h4> </div>
    </div> 

    <hr class="border-solid border-2 border-slate-200 bg-slate-200">
    <div class=" flex py-4 max-auto items-center mx-6 text-lg " >
        <!-- for loop -->
        <div>
            <img class="w-32 ml-8 rounded-md" src="/img/Burger.png" alt="">
        </div>
           <div class="ml-8">
            <h2>Burger</h2>
           </div>
           <div class="ml-8">
              <span >Qty:</span><span class="mr-2"> 2 </span>
           </div>
        <div class="ml-8" >
                <span>₹60 </span> 
        </div>
    </div>

    <div class=" flex py-4 max-auto items-center mx-6 text-lg " >
        <div>
            <img class="w-32 ml-8 rounded-md" src="/img/Panipuri.jpg" alt="">
        </div>
           <div class="ml-8">
            <h2>Pani Puri</h2>
           </div>
           <div class="ml-8">
              <span >Qty:</span><span class="mr-2"> 2 </span>
           </div>
        <div class="ml-8" >
                <span>₹60 </span> 
        </div>
    </div>
    <span class="uppercase text-sm font-none font-mono text-center">Address: Sahuatol KAITHINIYA JHANJHARPUR MADHUBANI Bihar</span>
          
  <hr class="border-solid border-2 border-slate-200 bg-slate-200">  
  <div class="flex items-center text-center"> 
    <div class="w-6/12 "><h2>Total Price</h2></div>
   
    <div class="w-6/12"><h2>120</h2></div>
</div>  
</div>









